@media (min-width: 480px) and  (max-width: 959px) {
    body {
        font-size: 14px;
    }
    /* Page Header */
    #wrapper > section{
        padding: 0;
    }
    #main_header {
        padding: 0;
    }
    #main_header > div div {
        margin: 0;
    }
    #main_header div.logo-container > a {
        font-size: 2.5em;
    }
    #main_section {
        width: initial;
        float: initial;
    }
    #main_section .article-item {
        padding: 10px;
    }
    .ruler {
        top: 10px;
    }
    #upcoming_aside {
        float: initial;
        width: 100%;
	    margin: auto;
    }
}
